.panel-group{
    max-height: 260px;
    overflow: auto;
}
.panel a{
    text-decoration: none;
    color: black;
}
.panel-heading:hover{
    background: #5bc0de;
}
.panel-heading.active-function{
    background: #5bc0de;
}
.mt-1{
    margin-top: 1rem;
}
.block{
    display: block;
}
.hide{
    display: none;
}
.blink-effect{
    animation-duration: 600ms;
    animation-name: blink;
    -webkit-animation-iteration-count: 5;
    animation-direction: normal;
}
@-webkit-keyframes blink
{
    from
    {
        background: white;
    }
    to
    {
        background: #ff1744;
    }
}