body{
    background: #fafafa;
}
.static
{
    user-select: none;
    cursor: default;
}
#subs{
    position: relative;
    margin: 10px 0;
    font-size: 12px;
}
#status{
    height:calc(100% - 50px);
    max-height:calc(100% - 50px);
    overflow:auto;
    border-left:1px dashed black
}
#result-status
{
    position: relative;
}
#note-status
{
    margin-top:200px;
    text-align: center;
}