.panel-group{
    max-height: 260px;
    overflow: auto;
}
.panel a{
    text-decoration: none;
    color: black;
}
.panel-heading:hover{
    background: #5bc0de;
}
.panel-heading.active-function{
    background: #5bc0de;
}
.mt-1{
    margin-top: 1rem;
}
.rename{
    display: none;
}
.visible{
    display:block !important;
}
#resultpage{
    max-height: 280px;
    overflow: auto;
}
